
.icon-search:before { content: '\e802'; } /* '' */
.icon-garage:before { content: '\e812'; } /* '' */
.icon-star-empty:before { content: '\e804'; } /* '' */
.icon-star-half:before { content: '\e805'; } /* '' */
.icon-male:before { content: '\e807'; } /* '' */
.icon-female:before { content: '\e808'; } /* '' */
.icon-home:before { content: '\e806'; } /* '' */
.icon-like:before { content: '\e815'; } /* '' */
.icon-location:before { content: '\e809'; } /* '' */
.icon-menu:before { content: '\e80f'; } /* '' */
.icon-right-open:before { content: '\e814'; } /* '' */
.icon-ellipsis-vert:before { content: '\e80b'; } /* '' */
.icon-spinner:before { content: '\e80a'; } /* '' */
.icon-star:before { content: '\e803'; } /* '' */
.icon-gplus:before { content: '\e800'; } /* '' */
.icon-users:before { content: '\e80c'; } /* '' */
.icon-check:before { content: '\e80d'; } /* '' */
.icon-cancel:before { content: '\e80e'; } /* '' */
.icon-area:before { content: '\e813'; } /* '' */
.icon-rail:before { content: '\e819'; } /* '' */
.icon-bicycle:before { content: '\e817'; } /* '' */
.icon-bus:before { content: '\e818'; } /* '' */
.icon-bethroom:before { content: '\e811'; } /* '' */
.icon-school:before { content: '\e816'; } /* '' */
.icon-unisex:before { content: '\e810'; } /* '' */
.icon-facebook:before { content: '\e801'; } /* '' */