   <form action="" id="">

	<!-- general -->
	<div bs-panel title="Información general" class="form-panel">

	       <input
			bs-form-control
			type="text" 
			ng-model="item.titulo"
			label="T&iacute;tulo" 
			label-class="col-xs-3 col-sm-2 col-lg-1" 
			class="col-xs-9 col-sm-10 col-lg-11 ng-scope ng-pristine ng-valid needsclick form-control"
			ng-maxlength="15"
			ng-minlength="5"
			placeholder="Elija un t&iacute;tulo creativo"
	       />

	       <input
			bs-form-control
			type="number" 
			ng-model="item.mensualidad"
			label="Mensualidad" 
			label-class="col-xs-3 col-sm-2 col-lg-1" 
			class="col-xs-9 col-sm-10 col-lg-11 ng-scope ng-pristine ng-valid needsclick form-control ng-valid-number"
			placeholder="Precio de la mensualidad en colones"
	       />

		<input
			bs-form-control
			type="text" 
			ng-model="item.direccion_fisica"
			label="Direcci&oacute;n" 
			label-class="col-xs-3 col-sm-2 col-lg-1" 
			class="col-xs-9 col-sm-10 col-lg-11 ng-scope ng-pristine ng-valid needsclick form-control"
			placeholder="Sea especifico"
	       />

	</div>

	<!-- services -->
	<div bs-panel title="Servicios incluidos" class="form-panel">
		<div ng-include="'partials/appartment_form/services.html'"></div>    
	</div>

	<!-- gender -->
	<div bs-panel title="Disponible para" class="form-panel">
		<div ng-include="'partials/appartment_form/gender.html'"></div>   
	</div>

	<!-- others -->
	<div bs-panel title="Información complementaria" class="form-panel">
		<input
			bs-form-control
			type="number" 
			ng-model="item.habitaciones"
			label="Habitaciones" 
			label-class="col-xs-3 col-sm-2 col-lg-1" 
			class="col-xs-9 col-sm-10 col-lg-11 ng-scope ng-pristine ng-valid needsclick form-control ng-valid-number"
			placeholder="Solo las habitaciones disponibles"
	       />

		<input
			bs-form-control
			type="number" 
			ng-model="item.area"
			label="Área" 
			label-class="col-xs-3 col-sm-2 col-lg-1" 
			class="col-xs-9 col-sm-10 col-lg-11 ng-scope ng-pristine ng-valid needsclick form-control ng-valid-number"
			placeholder="Tamaño del apartamento en metros cuadrados"
	       />

		<textarea
			bs-form-control
			type="text" 
			ng-model="item.descripcion"
			label="Descripción" 
			label-class="col-xs-3 col-sm-2 col-lg-1" 
			class="col-xs-9 col-sm-10 col-lg-11 ng-scope ng-pristine ng-valid needsclick form-control"
			placeholder="Cuente a sus posibles clientes otras características del apartamento"
	       ></textarea>
	</div>

	<!-- temp -->
	<div bs-panel title="Campos temporales" class="form-panel">
		<input
			bs-form-control
			type="number" 
			ng-model="item.ubicacion_latitud"
			label="ubicacion_latitud" 
			label-class="col-xs-3 col-sm-2 col-lg-1" 
			class="col-xs-9 col-sm-10 col-lg-11 ng-scope ng-pristine ng-valid needsclick form-control ng-valid-number"
	       />
		<input
			bs-form-control
			type="number" 
			ng-model="item.ubicacion_longitud"
			label="ubicacion_longitud" 
			label-class="col-xs-3 col-sm-2 col-lg-1" 
			class="col-xs-9 col-sm-10 col-lg-11 ng-scope ng-pristine ng-valid needsclick form-control ng-valid-number"
	       />
		<input
			bs-form-control
			type="number" 
			ng-model="item.cercania_tec"
			label="cercania_tec" 
			label-class="col-xs-3 col-sm-2 col-lg-1" 
			class="col-xs-9 col-sm-10 col-lg-11 ng-scope ng-pristine ng-valid needsclick form-control ng-valid-number"
	       />

	       <input
			bs-form-control
			type="text" 
			ng-model="item.fotos[0].src"
			label="fotos[0]" 
			label-class="col-xs-3 col-sm-2 col-lg-1" 
			class="col-xs-9 col-sm-10 col-lg-11 ng-scope ng-pristine ng-valid needsclick form-control"
	       />

	       <input
			bs-form-control
			type="text" 
			ng-model="item.fotos[1].src"
			label="fotos[1]" 
			label-class="col-xs-3 col-sm-2 col-lg-1" 
			class="col-xs-9 col-sm-10 col-lg-11 ng-scope ng-pristine ng-valid needsclick form-control"
	       />

	       <input
			bs-form-control
			type="text" 
			ng-model="item.fotos[2].src"
			label="fotos[2]" 
			label-class="col-xs-3 col-sm-2 col-lg-1" 
			class="col-xs-9 col-sm-10 col-lg-11 ng-scope ng-pristine ng-valid needsclick form-control"
	       />

	       <input
			bs-form-control
			type="text" 
			ng-model="item.fotos[3].src"
			label="fotos[3]" 
			label-class="col-xs-3 col-sm-2 col-lg-1" 
			class="col-xs-9 col-sm-10 col-lg-11 ng-scope ng-pristine ng-valid needsclick form-control"
	       />

	</div>
   </form>
