
	<div class="radio-group">
	  <label ng-class="item.cercania_tec==1 ? 'btn btn-primary' : 'btn btn-default'">
		<i class="icon-school"></i>
		<input type="radio"
		       ng-model="item.cercania_tec"
		       value="1" >1 Km
	  </label>
	  <label ng-class="item.cercania_tec==5 ? 'btn btn-primary' : 'btn btn-default'">
		<i class="icon-bicycle"></i>
		<input type="radio"
		       ng-model="item.cercania_tec"
		       value="5" >5 Km
	  </label>
	  <label ng-class="item.cercania_tec==10 ? 'btn btn-primary' : 'btn btn-default'">
		<i class="icon-bus"></i>
		<input type="radio"
		       ng-model="item.cercania_tec"
		       value="10" >10 Km
	  </label>
	  <label ng-class="item.cercania_tec==20 ? 'btn btn-primary' : 'btn btn-default'">
		<i class="icon-rail"></i>
		<input type="radio"
		       ng-model="item.cercania_tec"
		       value="20" >20 Km
	  </label>
	</div>
