<!-- services -->
<div class="checkbox-group">
  <label ng-class="item.services.water ? 'btn btn-primary' : 'btn btn-default'">
	<i class="icon-water"></i>
	<input type="checkbox"
	       ng-model="item.services.water">Agua
  </label>
  <label ng-class="item.services.electricity ? 'btn btn-primary' : 'btn btn-default'">
	<i class="icon-flash"></i>
	<input type="checkbox"
	       ng-model="item.services.electricity">Electricidad
  </label>
  <label ng-class="item.services.internet ? 'btn btn-primary' : 'btn btn-default'">
	<i class="icon-world"></i>
	<input type="checkbox"
	       ng-model="item.services.internet" >Internet
  </label>
  <label ng-class="item.services.segurity ? 'btn btn-primary' : 'btn btn-default'">
	<i class="icon-police"></i>
	<input type="checkbox"
	       ng-model="item.services.segurity" >Seguridad
  </label>
</div>
</div>
<!-- .services -->
