<!-- services -->
<div class="checkbox-group">
  <label ng-class="item.opcion_agua ? 'btn btn-primary' : 'btn btn-default'">
	<i class="icon-water"></i>
	<input type="checkbox"
	       ng-model="item.opcion_agua" />Agua
  </label>
  <label ng-class="item.opcion_electricidad ? 'btn btn-primary' : 'btn btn-default'">
	<i class="icon-flash"></i>
	<input type="checkbox"
	       ng-model="item.opcion_electricidad" />Electricidad
  </label>
  <label ng-class="item.opcion_internet ? 'btn btn-primary' : 'btn btn-default'">
	<i class="icon-world"></i>
	<input type="checkbox"
	       ng-model="item.opcion_internet" />Internet
  </label>
  <label ng-class="item.opcion_seguridad ? 'btn btn-primary' : 'btn btn-default'">
	<i class="icon-police"></i>
	<input type="checkbox"
	       ng-model="item.opcion_seguridad" />Seguridad
  </label>
</div>
<!-- .services -->
