<div content-for="title">
  <span>Buscar apartas</span>
</div>


<div class="scrollable">
 <div class="scrollable-content section">
   
   <form action="" id="">
	<!-- price -->
	<div bs-panel title="Mensualidad" class="form-panel">
		<input 	placeholder="Minimo"
			label=""
			class="ng-scope ng-pristine ng-valid needsclick form-control ng-valid-number" 
			type="number" 
			ng-model="item.min_mensualidad" 
			bs-form-control="">
		</input>
		<input 	placeholder="Maximo"
			label=""
			class="ng-scope ng-pristine ng-valid needsclick form-control ng-valid-number" 
			type="number" 
			ng-model="item.max_mensualidad" 
			bs-form-control="">
		</input>
	</div>

	<!-- location -->
	<div bs-panel title="Cercan&iacute;a al TEC" class="form-panel">
		<div ng-include="'partials/appartment_form/location.html'"></div>    
	</div>
	 
	<!-- ranking -->
	<div bs-panel title="Ranking m&iacute;nimo" class="form-panel">
		<div fundoo-rating rating-value="item.calificacion" max="5" on-rating-selected="saveRatingToServer(item.calificacion)"></div>
	</div>

	<!-- services -->
	<div bs-panel title="Servicios que debe incluir" class="form-panel">
		<div ng-include="'partials/appartment_form/services.html'"></div>    
	</div>

	<!-- gender -->
	<div bs-panel title="Disponible para" class="form-panel">
		<div ng-include="'partials/appartment_form/gender.html'"></div>   
	</div>

	<!-- bedrooms -->
	<div bs-panel title="Habitaciones disponibles" class="form-panel">
		<input 	placeholder="Cantidad"
			label=""
			class="ng-scope ng-pristine ng-valid needsclick form-control ng-valid-number" 
			type="number" 
			ng-model="item.habitaciones" 
			bs-form-control="">
		</input>
	</div>

    <div bs-panel class="form-actions">
      <div content-for="navbarAction">
        <button class="btn btn-primary">
          Buscar
        </button>
      </div>
    </div>
   </form>

 </div>
</div>
