<div content-for="title">
  <span>Buscar apartas</span>
</div>


<div class="scrollable">
 <div class="scrollable-content section">
   <div id="form">

	<div class="form-panel panel" >
	    <div class="panel-heading">
		<h2 class="panel-title">Mensualidad</h2>
	    </div>
	    <div class="panel-body">
		₡{{item.min_mensualidad}}
		<slider	floor="30000" 
			ceiling="500000" 
			ng-model-low="item.min_mensualidad" 
			ng-model-high="item.max_mensualidad"
			step="10000"></slider>
		₡{{item.max_mensualidad}}
	    </div>
	</div>

	<!-- location -->
	<div bs-panel title="Cercan&iacute;a al TEC" class="form-panel">
		<div ng-include="'partials/appartment_form/location.html'"></div>    
	</div>
	 
	<!-- ranking -->
	<div bs-panel title="Ranking m&iacute;nimo" class="form-panel">
		<div fundoo-rating rating-value="item.calificacion" max="5" on-rating-selected="saveRatingToServer(item.calificacion)"></div>
	</div>

	<!-- services -->
	<div bs-panel title="Servicios que debe incluir" class="form-panel">
		<div ng-include="'partials/appartment_form/services.html'"></div>    
	</div>

	<!-- gender -->
	<div bs-panel title="Disponible para" class="form-panel">
		<div ng-include="'partials/appartment_form/gender.html'"></div>   
	</div>

	<!-- bedrooms -->
	<div bs-panel title="Habitaciones disponibles" class="form-panel">
		<div 	fundoo-rating 
			icon="bethroom" 
			color="blue" 
			rating-value="item.habitaciones" 
			max="5" 
			on-rating-selected="saveRatingToServer(item.habitaciones)"></div>
	</div>

    <div bs-panel class="form-actions">
      <div content-for="navbarAction">
        <a class="btn btn-primary" ng-click="buscarAparta()">
          Buscar
        </a>
      </div>
    </div>
   </div>

 </div>
</div>
