<div content-for="title">
  <span>Buscar usuarios</span>
</div>

<div class="scrollable">
 <div class="scrollable-content section">

	<div class="search-box row">
		<div class="input-group">
		  <span class="input-group-addon"><i class="icon-search"></i></span>
		  <input type="text" class="form-control" ng-model="searchString" placeholder="Buscar...">
		  <span class="input-group-addon" ng-click="clearSearch();"><i class="icon-remove"></i></span>
		</div>
	</div>
        <!-- item -->
            <div class="col-xs-12 col-md-6 apartas-item" ng-repeat="item in results | searchFor:searchString" >
                <div class="media" ng-click="selectItem(item.id);toggle('rightSidebar');">
                    <div class="col-xs-3 col-lg-2">
                    	<img class="img-list-apartas"  src="http://graph.facebook.com/{{item.oauth_id}}/picture" />
                    </div>
                    <div class="media-body col-xs-9 col-lg-10">
                        <h4 class="media-heading">
                        	<p>{{item.nombre+" "+item.apellido}}</p> 
                        </h4>
                        <div class="list-inline">alguna descripcion </div>
                    </div>
                </div>
            </div><!-- / item -->

    <div bs-panel class="form-actions">
      <div content-for="navbarAction">
      </div>
    </div>

	<div content-for="sidebar-right">
		<div profile user="item.interesados"></div>	
	</div>

 </div>
</div>
