<div content-for="title">
  <span>Mis apartas</span>
</div>


<div class="scrollable">
 <div class="scrollable-content section">

	<div>
		<!-- col 1-->
		<div class="col-xs-12 apartas-list">
    	
        <!-- item -->
            <div class="apartas-item col-sm-6" ng-repeat="item in results | orderBy:order:reverse">
                <div class="media">
                    <div class="col-xs-4 col-lg-5"><a href="#/ver-apartamento/{{item.id}}">
                    	<img class="img-list-apartas"  src="{{item.fotos[0].src}}" /></a>
                    </div>
                    <div class="media-body col-xs-8 col-lg-7">
                        <h4 class="media-heading">
                        	<a href="#/ver-apartamento/{{item.id}}" target="_parent">{{item.titulo}}</a> 
                        </h4>
                        <ul class="list-inline">
                            <li><i class="icon-bethroom"></i>{{item.habitaciones}}</li>
                            <li style="list-style: none">|</li>
                            <li>para<i class="icon-{{item.sexo}}"></i></li>
                            <li style="list-style: none">|</li>
                            <li><i class="icon-location"></i>{{item.cercania_tec}}Km</li>
                        </ul>
			<div fundoo-rating rating-value="item.calificacion" max="5" readonly="true"></div>
			<h3 class="text-right admin-button" >
				<a href="#/editar-apartamento"><i class="icon-edit"></i></a>
				<a href="#overlay-delete" toggle="on" ><i class="icon-delete"></i></a>
			</h3>
                    </div>
                </div>
            </div><!-- / item -->
	</div><!-- / col 1-->

</div><!-- / row-->


<div overlay="overlay-delete">
  <h4 class="overlay-title">&iquest;Desea eliminar el apartamento seleccionado?</h4>    
  <p>
    Si lo elimina perder&aacute; toda la informaci&oacute;n, estad&iacute;sticas y contacto con los posibles clientes.
  </p>
  <p toggle="off" bubble target="overlay-delete">
    <a href="#" class="btn btn-primary">Eliminar</a>
    <a href="#" class="btn btn-default">Cancelar</a>
  </p>  
</div>


    <div class="navbar navbar-app navbar-absolute-bottom">
      <div class="btn-group justified">
        <a 	href="" 
		ng-click="order = 'titulo'; reverse=!reverse" 
		ng-class="{active: order=='titulo'}"
		class="btn btn-navbar"><i class="icon-sort-name-{{reverse}}" ng-class="{hidden: order!='titulo'}"></i> t&iacute;tulo
	</a>
        <a 	href="" 
		ng-click="order = 'calificacion'; reverse=!reverse" 
		ng-class="{active: order=='calificacion'}"
		class="btn btn-navbar">
			<i class="icon-sort-number-{{reverse}}" ng-class="{hidden: order!='calificacion'}"></i>  calificaci&oacute;n
	</a>
        <a 	href="" 
		ng-click="order = 'cercania_tec'; reverse=!reverse"
		ng-class="{active: order=='cercania_tec'}" 
		class="btn btn-navbar"><i class="icon-sort-number-{{reverse}}" ng-class="{hidden: order!='cercania_tec'}"></i>  cercan&iacute;a
	</a>

      </div>
    </div>

    <div bs-panel class="form-actions">
      <div content-for="navbarAction">
        <a class="btn btn-primary" href="#/agregar-apartamento">
          Agregar
        </a>
      </div>
    </div>

 </div>
</div>
