<div content-for="title">
  <span>Resultados</span>
</div>


<div class="scrollable">
 <div class="scrollable-content section">

	<div>
		<!-- col 1-->
		<div class="col-xs-12 col-sm-6 apartas-list">
    	
        <!-- item -->
            <div class="apartas-item" ng-repeat="item in results | orderBy:order:reverse">
                <div class="media">
                    <div class="col-xs-4 col-lg-5"><a href="#/ver-apartamento/{{item.id}}" >
                    	<img class="img-list-apartas"  src="{{item.fotos[0].src}}" /></a>
                    </div>
                    <div class="media-body col-xs-8 col-lg-7">
                        <h4 class="media-heading">
                        	<a href="#/ver-apartamento/{{item.id}}" target="_parent">{{item.titulo}}</a> 
                        </h4>
                        <ul class="list-inline">
                            <li><i class="icon-bethroom"></i>{{item.habitaciones}}</li>
                            <li style="list-style: none">|</li>
                            <li>para<i class="icon-{{item.sexo}}"></i></li>
                            <li style="list-style: none">|</li>
                            <li><i class="icon-location"></i>{{item.cercania_tec}}Km</li>
                        </ul>
			<div fundoo-rating readonly="true" rating-value="item.calificacion" max="5" ></div>
			<p class="price">&#8353; {{item.mensualidad}}/mes</p>
                    </div>
                </div>
            </div><!-- / item -->
	</div><!-- / col 1-->

	<!-- col 2-->
	 <div class="visible-md visible-lg col-md-6 map">
		mapa          
	</div><!-- / col 2-->

</div><!-- / row-->

    <div class="navbar navbar-app navbar-absolute-bottom">
      <div class="btn-group justified">
        <a 	href="" 
		ng-click="order = 'titulo'; reverse=!reverse" 
		ng-class="{active: order=='titulo'}"
		class="btn btn-navbar"><i class="icon-sort-name-{{reverse}}" ng-class="{hidden: order!='titulo'}"></i> t&iacute;tulo
	</a>
        <a 	href="" 
		ng-click="order = 'calificacion'; reverse=!reverse" 
		ng-class="{active: order=='calificacion'}"
		class="btn btn-navbar">
			<i class="icon-sort-number-{{reverse}}" ng-class="{hidden: order!='calificacion'}"></i>  calificaci&oacute;n
	</a>
        <a 	href="" 
		ng-click="order = 'cercania_tec'; reverse=!reverse"
		ng-class="{active: order=='cercania_tec'}" 
		class="btn btn-navbar"><i class="icon-sort-number-{{reverse}}" ng-class="{hidden: order!='cercania_tec'}"></i>  cercan&iacute;a
	</a>

      </div>
    </div>

    <div bs-panel class="form-actions">
      <div content-for="navbarAction">
        <a class="btn btn-primary" href="#/resultados-apartamentos">
          Button
        </a>
      </div>
    </div>

 </div>
</div>
