<div content-for="title">
  <span>{{item.titulo}}</span>
</div>


<div class="scrollable">
 <div class="scrollable-content section">

<!--
mapa
Contacto
-->
<img ng-src="{{item.foto_1}}" class="col-xs-3" style="max-width:100%;">
<img ng-src="{{item.foto_2}}" class="col-xs-3"" style="max-width:100%;">
<img ng-src="{{item.foto_3}}" class="col-xs-3" style="max-width:100%;">
<img ng-src="{{item.foto_4}}" class="col-xs-3" style="max-width:100%;">
<br/>
descripcion: {{item.descripcion}}
<br/>
direccion_fisica: {{item.direccion_fisica}}
<br/>
area: {{item.area}}
<br/>
ubicacion_latitud: {{item.ubicacion_latitud}}
<br/>
ubicacion_longitud: {{item.ubicacion_longitud}}
<br/>
cercania_tec: {{item.cercania_tec}}
<br/>
mensualidad: {{item.mensualidad}}
<br/>
habitaciones: {{item.habitaciones}}
<br/>
genero: {{item.genero}}
<br/>
opcion_agua: {{item.opcion_agua}}
<br/>
opcion_electricidad: {{item.opcion_electricidad}}
<br/>
opcion_seguridad: {{item.opcion_seguridad}}
<br/>
opcion_internet: {{item.opcion_internet}}
<br/>


 </div>
</div>
