/*
 * 
 * GENERAL
 *
 */
.panel-heading {
    border-bottom: 0;
    border-top: 1px solid #DDD;
}
.panel {
    margin-bottom: 0;
}
.section {
    padding-top: 0;
    margin-top: 0;
}

.btn-default.active, 
.btn-default:active, 
.btn-default:focus, 
.btn-default:hover, 
.open .dropdown-toggle.btn-default {
    color: #333;
    background-color: #ffffff;
    border-color: #ADADAD;
}
.well {
    border-radius: 0;
}
.navbar-absolute-bottom .btn-navbar:hover,
.navbar-absolute-bottom .btn-navbar {
    color: #A9A9A9;
}
.navbar-absolute-bottom .btn-navbar.active{
    color: #007AFF;
}

.admin-button {
    margin-top:15px;
}
.admin-button a{
    color: #A9A9A9;
    margin-left:15px;
}
.btn-gray {
    color: #333;
    background-color: #ddd;
    border-color: #bbb;
}
.sidebar-left {
    background-color: #000012;
}

.sidebar-left img {
    margin-top: 1%;
}

/*
 * 
 * VIEW APARTA
 *
 */
.price{
	color: #5ad427;
	font-weight: bold;
	font-size: 28px;
}
.services-group label,
.feature-group label{
	float: none;
	width: 24%;
}
.input-group-addon.warning{
	color:#F0AD4E;
	background-color:#FCF8E3;
}
.media-body .price{
	font-weight: bold;
	font-size: 17px;
}
.media-body a:focus, a:hover {
    text-decoration: none;
}
/*
 * 
 * SEARCH
 *
 */
.search-box {
    min-height: 20px;
    padding: 19px 29px;
    margin-bottom: 20px;
    background-color: #007AFF;
    border: 1px solid #E3E3E3;
}
.search-box .input-group-addon:first-child {
    border-radius: 0px !important;
    padding-left: 6px;
    padding-right: 0px;
}
.search-box .input-group-addon:last-child {
    border-radius: 0px !important;
    padding-left: 10px;
    padding-right:10px;
}
.search-box .input-group input{
    border-left: 0px none;
    border-right:0px none;
}
.radio-group,
.checkbox-group,
.services-group,
.feature-group{
	margin-top: 15px;
	margin-bottom: 15px;
	text-align: center;
}
.radio-group i,
.services-group i,
.checkbox-group i{
	font-size: 24pt;
	display: block;
}
.feature-group i{
	font-size: 18pt;
	display: block;
}
.radio-group input,
.checkbox-group input{
	display: none;
}
/*
 * 
 * RATING
 *
 */
.rating{
  color: #a9a9a9;
  margin: 0;
  padding: 0;
}

ul.rating {
  display: block;
  text-align: center;
}

.rating li {
  list-style-type: none;
  display: inline-block;
  padding: 1px;
  text-align: center;
  font-size: 24pt;
  cursor: pointer;
}

.apartas-item .rating li {
  font-size: 18pt;
}

.apartas-item ul.rating {
  text-align: left;
}

.rating .filled.yellow{
  color: #ffcd02;
}
.rating .filled.black{
  color: #000000;
}
.rating .filled.blue{
  color: #007AFF;
}
/*
 * 
 * PROFILE
 *
 */
.profile{
  background-color:#eee;
}
.my-profile,
.profile{
  padding: 60px 40px;
  height: 100%;
}
.my-profile img,
.profile img{
  float: none;
}

.my-profile input{
  margin-top: 20px;
 
}

/* Main carousel style */
.carousel {
    width: 600px;
}

/* Indicators list style */
.article-slide .carousel-indicators {
    bottom: 0;
    left: 0;
    margin-left: 5px;
    width: 100%;
}
/* Indicators list style */
.article-slide .carousel-indicators li {
    border: medium none;
    border-radius: 0;
    float: left;
    height: 54px;
    margin-bottom: 5px;
    margin-left: 0;
    margin-right: 5px !important;
    margin-top: 0;
    width: 100px;
}
/* Indicators images style */
.article-slide .carousel-indicators img {
    border: 2px solid #FFFFFF;
    float: left;
    height: 54px;
    left: 0;
    width: 100px;
}
/* Indicators active image style */
.article-slide .carousel-indicators .active img {
    border: 2px solid #428BCA;
    opacity: 0.7;
}


/*
 * 
 * LIST APARTAS
 *
 */
.list-inline>li {
    padding: 0;
}
.apartas-item {
    -webkit-box-shadow: 1px 1px 0 rgba(0,0,0,.2);
    box-shadow: 1px 1px 0 rgba(0,0,0,.2);
    border: 1px solid #ededed;
    padding: 10px!important;
    margin: 0px!important;
}
.apartas-list {
	padding: 0 !important;
	margin: 0 !important;
}
.apartas-descrip {
	padding-top: 10px !important;
}
.fnt-smaller {
    font-size: .9em;
}
.btm-mrg-10 {
    margin-bottom: 10px!important;
}
.list-inline {
    color: #535353;
	 margin: 0!important;
}
.img-list-apartas {
	max-width:100%;
	height:auto;
}
.angular-google-map-container { height: 700px; }

/*
 * Social Buttons for Bootstrap
 *
 * Copyright 2013 Panayiotis Lipiridis
 * Licensed under the MIT License
 *
 * https://phone.com/lipis/bootstrap-social
 */

.btn-social{position:relative;padding-left:44px;margin:5px;text-align:left;white-space:nowrap;overflow:hidden;text-overflow:ellipsis}.btn-social :first-child{position:absolute;left:0;top:0;bottom:0;width:32px;line-height:34px;font-size:1.6em;text-align:center;border-right:1px solid rgba(0,0,0,0.2)}
.btn-social.btn-lg{padding-left:61px}.btn-social.btn-lg :first-child{line-height:45px;width:45px;font-size:1.8em}
.btn-social.btn-sm{padding-left:38px}.btn-social.btn-sm :first-child{line-height:28px;width:28px;font-size:1.4em}
.btn-social.btn-xs{padding-left:30px}.btn-social.btn-xs :first-child{line-height:20px;width:20px;font-size:1.2em}
.btn-social-icon{position:relative;padding-left:44px;text-align:left;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;height:34px;width:34px;padding-left:0;padding-right:0}.btn-social-icon :first-child{position:absolute;left:0;top:0;bottom:0;width:32px;line-height:34px;font-size:1.6em;text-align:center;border-right:1px solid rgba(0,0,0,0.2)}
.btn-social-icon.btn-lg{padding-left:61px}.btn-social-icon.btn-lg :first-child{line-height:45px;width:45px;font-size:1.8em}
.btn-social-icon.btn-sm{padding-left:38px}.btn-social-icon.btn-sm :first-child{line-height:28px;width:28px;font-size:1.4em}
.btn-social-icon.btn-xs{padding-left:30px}.btn-social-icon.btn-xs :first-child{line-height:20px;width:20px;font-size:1.2em}
.btn-social-icon :first-child{border:none;text-align:center;width:100% !important}
.btn-social-icon.btn-lg{height:45px;width:45px;padding-left:0;padding-right:0}
.btn-social-icon.btn-sm{height:30px;width:30px;padding-left:0;padding-right:0}
.btn-social-icon.btn-xs{height:22px;width:22px;padding-left:0;padding-right:0}

.btn-facebook{color:#fff;background-color:#3b5998;border-color:rgba(0,0,0,0.2)}.btn-facebook:hover,.btn-facebook:focus,.btn-facebook:active,.btn-facebook.active,.open .dropdown-toggle.btn-facebook{color:#fff;background-color:#30487b;border-color:rgba(0,0,0,0.2)}
.btn-facebook:active,.btn-facebook.active,.open .dropdown-toggle.btn-facebook{background-image:none}
.btn-facebook.disabled,.btn-facebook[disabled],fieldset[disabled] .btn-facebook,.btn-facebook.disabled:hover,.btn-facebook[disabled]:hover,fieldset[disabled] .btn-facebook:hover,.btn-facebook.disabled:focus,.btn-facebook[disabled]:focus,fieldset[disabled] .btn-facebook:focus,.btn-facebook.disabled:active,.btn-facebook[disabled]:active,fieldset[disabled] .btn-facebook:active,.btn-facebook.disabled.active,.btn-facebook[disabled].active,fieldset[disabled] .btn-facebook.active{background-color:#3b5998;border-color:rgba(0,0,0,0.2)}

.btn-phone{color:#fff;background-color:#444;border-color:rgba(0,0,0,0.2)}.btn-phone:hover,.btn-phone:focus,.btn-phone:active,.btn-phone.active,.open .dropdown-toggle.btn-phone{color:#fff;background-color:#303030;border-color:rgba(0,0,0,0.2)}
.btn-phone:active,.btn-phone.active,.open .dropdown-toggle.btn-phone{background-image:none}
.btn-phone.disabled,.btn-phone[disabled],fieldset[disabled] .btn-phone,.btn-phone.disabled:hover,.btn-phone[disabled]:hover,fieldset[disabled] .btn-phone:hover,.btn-phone.disabled:focus,.btn-phone[disabled]:focus,fieldset[disabled] .btn-phone:focus,.btn-phone.disabled:active,.btn-phone[disabled]:active,fieldset[disabled] .btn-phone:active,.btn-phone.disabled.active,.btn-phone[disabled].active,fieldset[disabled] .btn-phone.active{background-color:#444;border-color:rgba(0,0,0,0.2)}


.btn-google-plus{color:#fff;background-color:#dd4b39;border-color:rgba(0,0,0,0.2)}.btn-google-plus:hover,.btn-google-plus:focus,.btn-google-plus:active,.btn-google-plus.active,.open .dropdown-toggle.btn-google-plus{color:#fff;background-color:#ca3523;border-color:rgba(0,0,0,0.2)}
.btn-google-plus:active,.btn-google-plus.active,.open .dropdown-toggle.btn-google-plus{background-image:none}
.btn-google-plus.disabled,.btn-google-plus[disabled],fieldset[disabled] .btn-google-plus,.btn-google-plus.disabled:hover,.btn-google-plus[disabled]:hover,fieldset[disabled] .btn-google-plus:hover,.btn-google-plus.disabled:focus,.btn-google-plus[disabled]:focus,fieldset[disabled] .btn-google-plus:focus,.btn-google-plus.disabled:active,.btn-google-plus[disabled]:active,fieldset[disabled] .btn-google-plus:active,.btn-google-plus.disabled.active,.btn-google-plus[disabled].active,fieldset[disabled] .btn-google-plus.active{background-color:#dd4b39;border-color:rgba(0,0,0,0.2)}
=======
/*
 * 
 * GENERAL
 *
 */
.panel-heading {
    border-bottom: 0;
    border-top: 1px solid #DDD;
}
.panel {
    margin-bottom: 0;
}
.section {
    padding-top: 0;
    margin-top: 0;
}

.btn-default.active, 
.btn-default:active, 
.btn-default:focus, 
.btn-default:hover, 
.open .dropdown-toggle.btn-default {
    color: #333;
    background-color: #ffffff;
    border-color: #ADADAD;
}
.well {
    border-radius: 0;
}
.navbar-absolute-bottom .btn-navbar:hover,
.navbar-absolute-bottom .btn-navbar {
    color: #A9A9A9;
}
.navbar-absolute-bottom .btn-navbar.active{
    color: #007AFF;
}

.admin-button {
    margin-top:15px;
}
.admin-button a{
    color: #A9A9A9;
    margin-left:15px;
}
/*
 * 
 * INTERESADOS
 *
 */
.interesados{
  color: #a9a9a9;
  margin: 0;
  padding: 0;
}

ul.interesados {
  display: block;
}

.interesados li {
  list-style-type: none;
  display: inline-block;
  padding: 1px;
  text-align: center;
  font-size: 24pt;
  cursor: pointer;
}

.interesados li>img,
.interesados li>span{
  height: 45px;
  width: 45px;
  border-radius: 0;
}
.interesados .label {
    padding: 0.2em 0.45em 0.3em;
}


/*
 * 
 * VIEW APARTA
 *
 */
.price{
	color: #5ad427;
	font-weight: bold;
	font-size: 28px;
}
.services-group label,
.feature-group label{
	float: none;
	width: 24%;
}
.input-group-addon.warning{
	color:#F0AD4E;
	background-color:#FCF8E3;
}
.media-body .price{
	font-weight: bold;
	font-size: 17px;
}
.media-body a:focus, a:hover {
    text-decoration: none;
}
/*
 * 
 * SEARCH
 *
 */
.search-box {
    min-height: 20px;
    padding: 19px 29px;
    margin-bottom: 20px;
    background-color: #007AFF;
    border: 1px solid #E3E3E3;
}
.search-box .input-group-addon:first-child {
    border-radius: 0px !important;
    padding-left: 6px;
    padding-right: 0px;
}
.search-box .input-group-addon:last-child {
    border-radius: 0px !important;
    padding-left: 10px;
    padding-right:10px;
}
.search-box .input-group input{
    border-left: 0px none;
    border-right:0px none;
}
.radio-group,
.checkbox-group,
.services-group,
.feature-group{
	margin-top: 15px;
	margin-bottom: 15px;
	text-align: center;
}
.radio-group i,
.services-group i,
.checkbox-group i{
	font-size: 24pt;
	display: block;
}
.feature-group i{
	font-size: 18pt;
	display: block;
}
.radio-group input,
.checkbox-group input{
	display: none;
}
/*
 * 
 * RATING
 *
 */
.rating{
  color: #a9a9a9;
  margin: 0;
  padding: 0;
}

ul.rating {
  display: block;
  text-align: center;
}

.rating li {
  list-style-type: none;
  display: inline-block;
  padding: 1px;
  text-align: center;
  font-size: 24pt;
  cursor: pointer;
}

.apartas-item .rating li {
  font-size: 18pt;
}

.apartas-item ul.rating {
  text-align: left;
}

.rating .filled.yellow{
  color: #ffcd02;
}
.rating .filled.black{
  color: #000000;
}
.rating .filled.blue{
  color: #007AFF;
}
/*
 * 
 * PROFILE
 *
 */
.profile{
  padding: 60px 40px;
  height: 100%;
  background-color:#eee;
}
.profile img{
  float: none;
}

/* Main carousel style */
.carousel {
    width: 600px;
}

/* Indicators list style */
.article-slide .carousel-indicators {
    bottom: 0;
    left: 0;
    margin-left: 5px;
    width: 100%;
}
/* Indicators list style */
.article-slide .carousel-indicators li {
    border: medium none;
    border-radius: 0;
    float: left;
    height: 54px;
    margin-bottom: 5px;
    margin-left: 0;
    margin-right: 5px !important;
    margin-top: 0;
    width: 100px;
}
/* Indicators images style */
.article-slide .carousel-indicators img {
    border: 2px solid #FFFFFF;
    float: left;
    height: 54px;
    left: 0;
    width: 100px;
}
/* Indicators active image style */
.article-slide .carousel-indicators .active img {
    border: 2px solid #428BCA;
    opacity: 0.7;
}


/*
 * 
 * LIST APARTAS
 *
 */
.list-inline>li {
    padding: 0;
}
.apartas-item {
    -webkit-box-shadow: 1px 1px 0 rgba(0,0,0,.2);
    box-shadow: 1px 1px 0 rgba(0,0,0,.2);
    border: 1px solid #ededed;
    padding: 10px!important;
    margin: 0px!important;
}
.apartas-list {
	padding: 0 !important;
	margin: 0 !important;
}
.apartas-descrip {
	padding-top: 10px !important;
}
.fnt-smaller {
    font-size: .9em;
}
.btm-mrg-10 {
    margin-bottom: 10px!important;
}
.list-inline {
    color: #535353;
	 margin: 0!important;
}
.img-list-apartas {
	max-width:100%;
	height:auto;
}

/*
 * Social Buttons for Bootstrap
 *
 * Copyright 2013 Panayiotis Lipiridis
 * Licensed under the MIT License
 *
 * https://phone.com/lipis/bootstrap-social
 */

.btn-social{position:relative;padding-left:44px;margin:5px;text-align:left;white-space:nowrap;overflow:hidden;text-overflow:ellipsis}.btn-social :first-child{position:absolute;left:0;top:0;bottom:0;width:32px;line-height:34px;font-size:1.6em;text-align:center;border-right:1px solid rgba(0,0,0,0.2)}
.btn-social.btn-lg{padding-left:61px}.btn-social.btn-lg :first-child{line-height:45px;width:45px;font-size:1.8em}
.btn-social.btn-sm{padding-left:38px}.btn-social.btn-sm :first-child{line-height:28px;width:28px;font-size:1.4em}
.btn-social.btn-xs{padding-left:30px}.btn-social.btn-xs :first-child{line-height:20px;width:20px;font-size:1.2em}
.btn-social-icon{position:relative;padding-left:44px;text-align:left;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;height:34px;width:34px;padding-left:0;padding-right:0}.btn-social-icon :first-child{position:absolute;left:0;top:0;bottom:0;width:32px;line-height:34px;font-size:1.6em;text-align:center;border-right:1px solid rgba(0,0,0,0.2)}
.btn-social-icon.btn-lg{padding-left:61px}.btn-social-icon.btn-lg :first-child{line-height:45px;width:45px;font-size:1.8em}
.btn-social-icon.btn-sm{padding-left:38px}.btn-social-icon.btn-sm :first-child{line-height:28px;width:28px;font-size:1.4em}
.btn-social-icon.btn-xs{padding-left:30px}.btn-social-icon.btn-xs :first-child{line-height:20px;width:20px;font-size:1.2em}
.btn-social-icon :first-child{border:none;text-align:center;width:100% !important}
.btn-social-icon.btn-lg{height:45px;width:45px;padding-left:0;padding-right:0}
.btn-social-icon.btn-sm{height:30px;width:30px;padding-left:0;padding-right:0}
.btn-social-icon.btn-xs{height:22px;width:22px;padding-left:0;padding-right:0}

.btn-facebook{color:#fff;background-color:#3b5998;border-color:rgba(0,0,0,0.2)}.btn-facebook:hover,.btn-facebook:focus,.btn-facebook:active,.btn-facebook.active,.open .dropdown-toggle.btn-facebook{color:#fff;background-color:#30487b;border-color:rgba(0,0,0,0.2)}
.btn-facebook:active,.btn-facebook.active,.open .dropdown-toggle.btn-facebook{background-image:none}
.btn-facebook.disabled,.btn-facebook[disabled],fieldset[disabled] .btn-facebook,.btn-facebook.disabled:hover,.btn-facebook[disabled]:hover,fieldset[disabled] .btn-facebook:hover,.btn-facebook.disabled:focus,.btn-facebook[disabled]:focus,fieldset[disabled] .btn-facebook:focus,.btn-facebook.disabled:active,.btn-facebook[disabled]:active,fieldset[disabled] .btn-facebook:active,.btn-facebook.disabled.active,.btn-facebook[disabled].active,fieldset[disabled] .btn-facebook.active{background-color:#3b5998;border-color:rgba(0,0,0,0.2)}

.btn-phone{color:#fff;background-color:#444;border-color:rgba(0,0,0,0.2)}.btn-phone:hover,.btn-phone:focus,.btn-phone:active,.btn-phone.active,.open .dropdown-toggle.btn-phone{color:#fff;background-color:#303030;border-color:rgba(0,0,0,0.2)}
.btn-phone:active,.btn-phone.active,.open .dropdown-toggle.btn-phone{background-image:none}
.btn-phone.disabled,.btn-phone[disabled],fieldset[disabled] .btn-phone,.btn-phone.disabled:hover,.btn-phone[disabled]:hover,fieldset[disabled] .btn-phone:hover,.btn-phone.disabled:focus,.btn-phone[disabled]:focus,fieldset[disabled] .btn-phone:focus,.btn-phone.disabled:active,.btn-phone[disabled]:active,fieldset[disabled] .btn-phone:active,.btn-phone.disabled.active,.btn-phone[disabled].active,fieldset[disabled] .btn-phone.active{background-color:#444;border-color:rgba(0,0,0,0.2)}


.btn-google-plus{color:#fff;background-color:#dd4b39;border-color:rgba(0,0,0,0.2)}.btn-google-plus:hover,.btn-google-plus:focus,.btn-google-plus:active,.btn-google-plus.active,.open .dropdown-toggle.btn-google-plus{color:#fff;background-color:#ca3523;border-color:rgba(0,0,0,0.2)}
.btn-google-plus:active,.btn-google-plus.active,.open .dropdown-toggle.btn-google-plus{background-image:none}
.btn-google-plus.disabled,.btn-google-plus[disabled],fieldset[disabled] .btn-google-plus,.btn-google-plus.disabled:hover,.btn-google-plus[disabled]:hover,fieldset[disabled] .btn-google-plus:hover,.btn-google-plus.disabled:focus,.btn-google-plus[disabled]:focus,fieldset[disabled] .btn-google-plus:focus,.btn-google-plus.disabled:active,.btn-google-plus[disabled]:active,fieldset[disabled] .btn-google-plus:active,.btn-google-plus.disabled.active,.btn-google-plus[disabled].active,fieldset[disabled] .btn-google-plus.active{background-color:#dd4b39;border-color:rgba(0,0,0,0.2)}
