
.icon-gplus:before { content: '\e800'; } /* '' */
.icon-facebook:before { content: '\e801'; } /* '' */
.icon-search:before { content: '\e802'; } /* '' */
.icon-star:before { content: '\e803'; } /* '' */
.icon-star-empty:before { content: '\e804'; } /* '' */
.icon-star-half:before { content: '\e805'; } /* '' */
.icon-home:before { content: '\e806'; } /* '' */
.icon-male:before { content: '\e807'; } /* '' */
.icon-female:before { content: '\e808'; } /* '' */
.icon-location:before { content: '\e809'; } /* '' */
.icon-spinner:before { content: '\e80a'; } /* '' */
.icon-ellipsis-vert:before { content: '\e80b'; } /* '' */
.icon-users:before { content: '\e80c'; } /* '' */
.icon-check:before { content: '\e80d'; } /* '' */
.icon-cancel:before { content: '\e80e'; } /* '' */
.icon-menu:before { content: '\e80f'; } /* '' */
.icon-unisex:before { content: '\e810'; } /* '' */
.icon-bethroom:before { content: '\e811'; } /* '' */
.icon-garage:before { content: '\e812'; } /* '' */
.icon-area:before { content: '\e813'; } /* '' */
.icon-right-open:before { content: '\e814'; } /* '' */
.icon-like:before { content: '\e815'; } /* '' */
.icon-school:before { content: '\e816'; } /* '' */
.icon-bicycle:before { content: '\e817'; } /* '' */
.icon-bus:before { content: '\e818'; } /* '' */
.icon-rail:before { content: '\e819'; } /* '' */
.icon-flash:before { content: '\e81a'; } /* '' */
.icon-water:before { content: '\e81b'; } /* '' */
.icon-police:before { content: '\e81c'; } /* '' */
.icon-world:before { content: '\e81d'; } /* '' */
.icon-sort-name-true:before { content: '\e81e'; } /* '' */
.icon-sort-name-false:before { content: '\e81f'; } /* '' */
.icon-sort-number-false:before { content: '\e820'; } /* '' */
.icon-sort-number-true:before { content: '\e821'; } /* '' */
.icon-edit:before { content: '\e822'; } /* '' */
.icon-delete:before { content: '\e823'; } /* '' */
.icon-mail:before { content: '\e824'; } /* '' */
.icon-phone:before { content: '\e825'; } /* '' */
.icon-remove:before { content: '\e826'; } /* '' */